body {
  text-align: center;
}

#app {
  border: 1px solid;
  margin: 0 auto;
  padding: 20px;
  display: inline-flex;
}

#today {
  width: 300px;
  height: 485px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

#calendarContainer {
  width: 450px;
  height: 485px;
  border: 1px solid;
  flex-direction: column;
}

#numDay {
  width: 80px;
  height: 80px;
  margin: 40% auto 0 auto;
  border: 1px solid;
}

#wordDay {
  width: 240px;
  height: 80px;
  margin: 50px auto 0 auto;
  border: 1px solid;
}

#monthYear {
  width: 400px;
  height: 80px;
  margin: 50px auto 0 auto;
  border: 1px solid;
}

#calendar {
  width: 400px;
  height: 320px;
  margin: 20px auto 0 auto;
  border: 1px solid;
}

table {
  width: 100%;
  table-layout: fixed;
}

th {
  border: 1px solid purple;
  margin: 0px;
}

td {
  border: 1px solid blue;
  margin: 0px;
  height: 40px;
}
